<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RedClover - AcctDetails</title>
  </head>
  <body>
    <div>
      <h1 style="display: inline">${acctinfo.account_name}</h1>
      <h5 style="display: inline">
        ${acctinfo.account_type} - Acct#: ${acctinfo.account_number}
      </h5>
      <h5 align="right"></h5>
    </div>
    <div>
      ${transaction.map(t=>`
      <div>
        <h3 style="display: inline">${t.merchant}</h3>
        <h3 style="display: inline; float: right">
          Available Balance: ${t.avail_balance}
        </h3>
        <br />
        <h4 style="display: inline">${transType}: ${t.amount}</h4>
        <p>${t.date}</p>
      </div>
      `).join("")}
    </div>
    <a href="/members"><button>Go Back</button></a>
    <a href="/members/logout"><button>Logout</button></a>
  </body>
</html>
