<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RedClover - Home</title>
  </head>
  <body>
    <span>
      <h1 style="display: inline;" align="left">Welcome ${member.firstname} ${member.lastname}!</h1>
      <div align="right">
        <a href="/members/mkacc">
          <button>Create Account</button>
        </a>
        <a href="/members/#">
          <button>Transfer</button>
        </a>
        <a href="/members/logout">
          <button value="submit">Logout</button>
        </a>
      </div>
    </span>
    
    <div>
      <h2>Credit:</h2>
      <h3 align="center">Coming Soon</h3>
    </div>

    <div>
      <h2>Savings:</h2>
      <div>
      ${savings ? savings.map(a => `
        <div>
          <a href="/members/${a.id}/acct">
            <div>
                <a href="/members/${a.id}/acct">
                  <h3>${a.account_name}</h3>
                  <p>Account#: ${a.account_number} Routing#: ${a.account_routing}</p>
                </a>
                <h3 align="right">Available Balance: ${a.avail_balance}</h3>
              </div>
          </div>
      `).join("") : `
      <div align="center">
        <h3>You have No Savings Accounts</h3>
        <a href="/members/mkacc"><button>Create Account?</button></a>
      </div>
      `}
    </div>

    <div>
      <h2>Checkings:</h2>
      ${checking ? checking.map(a => `
        <div>
          <a href="/members/${a.id}/acct">
            <div>
                <a href="/members/${a.id}/acct">
                  <h3>${a.account_name}</h3>
                  <p>Account#: ${a.account_number} Routing#: ${a.account_routing}</p>
                </a>
                <h3 align="right">Available Balance: ${a.avail_balance}</h3>
              </div>
          </div>
      `).join("") : `
      <div align="center">
        <h3>You have No Checking Accounts</h3>
        <a href="/members/mkacc"><button>Create Account?</button></a>
      </div>
      `}
    </div>

  </body>
</html>
