<h2>Login Here</h2>
<form action="/login" method="POST">
  <label>
    Username
    <input
      type="type"
      name="username"
      placeholder="Enter Username"
      autofocus
      required
    />
  </label>
  <br />
  <br />
  <label>
    Password
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      required
    />
  </label>
  <br />
  <br />
  <button value="submit">Login</button>
  <br />
  <br />
  <a href="#">Forget Your Password?</a>
  <br />
  <a href="/signup">Don't Have An Account?</a>
</form>
