<h2>Sign Up</h2>
<form method="POST">
    <label>
        Username:
        <input type="text" name="username" placeholder="Username" autofocus />
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="password" placeholder="Password" />
    </label>
    <br />
    <label>
        Verify Password:
        <input type="password" name="verifyPassword" placeholder="Verify Password" />
    </label>
    <br />
    <br />
    <label>
        First Name:
        <input type="text" name="firstname" placeholder="Please Enter Your First Name" />
    </label>
    <br />
    <label>
        Last Name:
        <input type="text" name="lastname" placeholder="Please Enter Your Last Name" />
    </label>
    <br />
    <label>
        Country:
        ${countries}
    </label>
    <br />
    <label>
        Street Address:
        <input type="text" name="address" placeholder="Address" />
    </label>
    <br />
    <label>
        Suite/Apt/Other (optional):
        <input type="text" name="additionalStreet" placeholder="Suite/Apt/Other"/>
    </label>
    <br />
    <label>
        City:
        <input type="text" name="city" placeholder="City" />
    </label>
    <br />
    <label>
        State:
        ${states}
    </label>
    <br />
    <label>
        ZIP Code:
        <input type="text" name="zip" placeholder="ZIP Code" />
    </label>
    <br />
    <label>
        Email:
        <input type="email" name="email" placeholder="Email Address" />
    </label>
    <br />
    <label>
        Phone:
        <input type="text" name="phone" placeholder="Phone Number"/>
    </label>
    <br />
    <label>
        SSN or Tax ID:
        <input type="text" name="ssn" placeholder="SSN or Tax ID"/>
    </label>
    <br />
    <label for="identification">
        Government Passport, Voter ID, or Other Identification:
        <select name="identification" id=“identification”>
            <option value=“passport”>Passport</option>
            <option value=“voter">Voter ID</option>
            <option value=“govt”>Government Issued ID</option>
            <option value=“other">Other</option>
        </select>
        <input type="text" name="idInput" placeholder="ID Number" />
    </label>
    <br />
    <br />
    <input type="submit" value="Create Account">
    <br />
    <br />
    <a href="/login">Already Have An Account?</a>
</form>