<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <label>
        Username:
        <input type="text" name="username" placeholder="Username" autofocus required/>
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="password" placeholder="Password" required/>
    </label>
    <br />
    <label>
        Verify Password:
        <input type="password" name="verifyPassword" placeholder="Verify Password" required/>
    </label>
    <br />
    <br />
    <label>
        First Name:
        <input type="text" name="firstName" placeholder="Please Enter Your First Name" required/>
    </label>
    <br />
    <label>
        Last Name:
        <input type="text" name="lastName" placeholder="Please Enter Your Last Name" required />
    </label>
    <br />
    <label>
        Country:
        ${countries}
    </label>
    <br />
    <label>
        Street Address:
        <input type="text" name="street" placeholder="Address" required/>
    </label>
    <br />
    <label>
        Suite/Apt/Other (optional):
        <input type="text" name="additionalStreet" placeholder="Suite/Apt/Other"/>
    </label>
    <br />
    <label>
        City:
        <input type="text" name="city" placeholder="City" required/>
    </label>
    <br />
    <label>
        State:
        ${states}
    </label>
    <br />
    <label>
        ZIP Code:
        <input type="text" name="zip" placeholder="ZIP Code" />
    </label>
    <br />
    <label>
        Email:
        <input type="email" name="email" placeholder="Email Address" required/>
    </label>
    <br />
    <label>
        Phone:
        <input type="text" name="phone" placeholder="Phone Number" required/>
    </label>
    <br />
    <label>
        SSN or Tax ID:
        <input type="text" name="ssn" placeholder="SSN or Tax ID" required/>
    </label>
    <br />
    <label for="identification">
        Government Passport, Voter ID, or Other Identification:
        <select name="identification" id=“identification”>
            <option value=“passport”>Passport</option>
            <option value=“voter">Voter ID</option>
            <option value=“govt”>Government Issued ID</option>
            <option value=“other">Other</option>
        </select>
        <input type="text" name="idInput" placeholder="ID Number" required/>
    </label>
    <br />
    <br />
    <input type="submit" value="Create Account">
    <br />
    <br />
    <a href="/login">Already Have An Account?</a>
</form>